.home-main {
  .home-header {
    padding: 15px;
    background: #eeeeee;
    display: flex;
    gap: 20px;
    .dropdown-comp {
      width: 180px;
      .ms-Dropdown-title {
        border: 1px solid #ddd;
        border-radius: 5px;
      }
    }
    .search-box {
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
  }
  .movie-detail-section {
    height: 100%;
    display: flex;
    .no-movie-info {
      border-left: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
  }
  .loader-img {
    position: absolute;
    left: 45%;
    top: 30%;
    width: 120px;
  }
}
